# c files
.o
.out
Debug.*

# dotfiles
!.*
Debug
# NO VENV
lib
lib64
bin
.settings
book
.html
pyvenv.cfg
venv
*.code-workspace
book/docs/book.html
book/docs/*

# scripts directory
x*
alist.py
newhex.py
.launches/CSE379-Lab7.launch
.launches/nfox18212.github.io.launch
/Debug__TI/
